body {
  background: url('https://beijing-medical-1.obs.cn-north-4.myhuaweicloud.com/static/image/meetingBG.png') no-repeat
    center center;
  background-size: cover;
  text-align: center;
  padding: 20px 24px;
  box-sizing: border-box;
}
